In [30]:
import pandas as pd
import os

In [31]:
current_path = os.getcwd()
base_path = os.path.join(*current_path.split(os.sep)[:current_path.split(os.sep).index("torch-deep-retina") + 1])
base_path

'Users/giovannigatti/Desktop/MSc AI/neuro/torch-deep-retina'

In [32]:
corr_df = pd.read_csv(f'/{os.path.join(base_path, "csvs", "interneuron_cors.csv")}', sep='!')
corr_df

,cell_file,cell_idx,stim_type,cell_type,layer,chan,row,col,cor,xshift,yshift,tshift,abs_cor,save_folder
0,amacrines_late_2012.h5,3,boxes,amacrine,sequential.0,6,17,27,0.771693,0,0,1,0.771693,15-11-21b_naturalscene.pt
1,bipolars_late_2012.h5,0,boxes,bipolar,sequential.4,6,13,23,0.756909,0,0,1,0.756909,15-11-21b_naturalscene.pt
2,bipolars_late_2012.h5,3,boxes,bipolar,sequential.4,6,12,20,0.710521,0,0,1,0.710521,15-11-21b_naturalscene.pt
3,amacrines_late_2012.h5,6,boxes,amacrine,sequential.4,5,12,21,0.705303,0,0,1,0.705303,15-11-21b_naturalscene.pt
4,amacrines_late_2012.h5,8,boxes,amacrine,sequential.4,6,12,22,0.705299,0,0,1,0.705299,15-11-21b_naturalscene.pt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,amacrines_late_2012.h5,16,boxes,amacrine,sequential.4,6,15,13,0.502977,0,0,1,0.502977,15-10-07_whitenoise.pt
194,bipolars_late_2012.h5,1,boxes,bipolar,sequential.4,6,13,16,0.495540,0,0,1,0.495540,15-10-07_whitenoise.pt
195,amacrines_early_2012.h5,3,boxes,amacrine,sequential.4,6,13,17,0.482887,0,0,1,0.482887,15-10-07_whitenoise.pt
196,amacrines_late_2012.h5,19,boxes,amacrine,sequential.4,6,13,14,0.476867,0,0,1,0.476867,15-10-07_whitenoise.pt
197,amacrines_late_2012.h5,20,boxes,amacrine,sequential.4,6,18,11,0.386504,0,0,1,0.386504,15-10-07_whitenoise.pt

In [33]:
amacrine_df = corr_df[corr_df['cell_type'] == 'amacrine']
amacrine_df.head()

,cell_file,cell_idx,stim_type,cell_type,layer,chan,row,col,cor,xshift,yshift,tshift,abs_cor,save_folder
0,amacrines_late_2012.h5,3,boxes,amacrine,sequential.0,6,17,27,0.771693,0,0,1,0.771693,15-11-21b_naturalscene.pt
3,amacrines_late_2012.h5,6,boxes,amacrine,sequential.4,5,12,21,0.705303,0,0,1,0.705303,15-11-21b_naturalscene.pt
4,amacrines_late_2012.h5,8,boxes,amacrine,sequential.4,6,12,22,0.705299,0,0,1,0.705299,15-11-21b_naturalscene.pt
5,amacrines_late_2012.h5,11,boxes,amacrine,sequential.4,6,15,21,0.684077,0,0,1,0.684077,15-11-21b_naturalscene.pt
6,amacrines_late_2012.h5,4,boxes,amacrine,sequential.0,4,20,30,0.683829,0,0,1,0.683829,15-11-21b_naturalscene.pt

In [39]:
amacrine_layer_cnts = amacrine_df.groupby(['save_folder', 'layer']).size()
amacrine_layer_cnts = amacrine_layer_cnts.reset_index(name='count')
amacrine_layer_cnts

                 save_folder         layer  count
0   15-10-07_naturalscene.pt  sequential.0     26
1     15-10-07_whitenoise.pt  sequential.0     10
2     15-10-07_whitenoise.pt  sequential.4     16
3  15-11-21a_naturalscene.pt  sequential.0     26
4    15-11-21a_whitenoise.pt  sequential.0     11
5    15-11-21a_whitenoise.pt  sequential.4     15
6  15-11-21b_naturalscene.pt  sequential.0      6
7  15-11-21b_naturalscene.pt  sequential.4     20
8    15-11-21b_whitenoise.pt  sequential.0     13
9    15-11-21b_whitenoise.pt  sequential.4     13

In [40]:
bipolar_df = corr_df[corr_df['cell_type'] == 'bipolar']
bipolar_df.head()

,cell_file,cell_idx,stim_type,cell_type,layer,chan,row,col,cor,xshift,yshift,tshift,abs_cor,save_folder
1,bipolars_late_2012.h5,0,boxes,bipolar,sequential.4,6,13,23,0.756909,0,0,1,0.756909,15-11-21b_naturalscene.pt
2,bipolars_late_2012.h5,3,boxes,bipolar,sequential.4,6,12,20,0.710521,0,0,1,0.710521,15-11-21b_naturalscene.pt
7,bipolars_late_2012.h5,2,boxes,bipolar,sequential.4,6,14,23,0.662119,0,0,1,0.662119,15-11-21b_naturalscene.pt
10,bipolars_early_2012.h5,2,boxes,bipolar,sequential.4,0,13,24,0.646632,0,0,1,0.646632,15-11-21b_naturalscene.pt
19,bipolars_early_2012.h5,0,boxes,bipolar,sequential.4,0,13,25,0.614544,0,0,1,0.614544,15-11-21b_naturalscene.pt

In [41]:
bipolar_layer_cnts = bipolar_df.groupby(['save_folder', 'layer']).size()
bipolar_layer_cnts = bipolar_layer_cnts.reset_index(name='count')
bipolar_layer_cnts

                 save_folder         layer  count
0   15-10-07_naturalscene.pt  sequential.0      7
1     15-10-07_whitenoise.pt  sequential.0      3
2     15-10-07_whitenoise.pt  sequential.4      4
3  15-11-21a_naturalscene.pt  sequential.0      7
4    15-11-21a_whitenoise.pt  sequential.0      4
5    15-11-21a_whitenoise.pt  sequential.4      3
6  15-11-21b_naturalscene.pt  sequential.4      7
7    15-11-21b_whitenoise.pt  sequential.0      5
8    15-11-21b_whitenoise.pt  sequential.4      2